*~
*.o
*.so
*.orig
.Rhistory
Rgrid.pe*
Rgrid.po*
Rgrid.e*
Rgrid.o*
DESCRIPTION
f1b2list1
f1b2list12
f1b2list13
nf1b2list1
nf1b2list12
nf1b2list13
_region_.log
_region_.tex
_region_.el
prv_report.log
*.gz
.Rproj.user
*.Rproj
vignette_*
spict/inst/doc
.Rbuildignore
Rplots.pdf
res.out
*.Rcheck
